body{
    background-color: rgb(30, 149, 234);
    color: rgb(24, 249, 133);
    font-family: "Epunda Slab", serif;
    margin: 0px;
}
header{
    font-size: 20px;
    border: dotted  5px rgb(189, 243, 223);
    text-align: center;
   /* margin:30px;*/
    padding: 8px;
    color: rgb(151, 231, 122);
}
h1{
    font-size: 50px;
    border-bottom: dashed 7px  rgb(189, 243, 223);
    margin: 15px;
}
p{
    font-size: 23px;
}

section{
background-color: rgb(30, 149, 234);
padding-bottom: 80px;
display: flex;
justify-content: center;

}
.chamada-texto{
    margin-right: 10%;
}